﻿@model IEnumerable<WebTaskin.Data.Makale>

@{
    ViewBag.Title = "Rastgele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rastgele</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <center>
        <tr>
            <td>
                <h1><strong>@Html.DisplayFor(modelItem => item.Baslik)</strong> - @Html.DisplayFor(modelItem => item.Tarih)</h1>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icerik)
            </td>

            <td></td>
        </tr>
    </center>

    
}


@
{for (int i = 0; i < Model.Count(); i++)
{
    <div style="border:1px solid red">
     @Model.


    </div>

}
}